*{margin: 0;}
body{background-color: rgb(233, 233, 233);}
header{width: 100%;height: 100px;position: fixed;top: 0;background-color: #fff;}
#LOGO{margin:20px auto 0 auto;display: block;width: 257px;}

.HEADER_BUTTON{display: flex;justify-content: flex-end;margin-top: -30px;}
#HEADER_connection{height: 20px;position: relative;top: -40px;}
.reservation{width: 150px;height: 50px;border: solid 2px #A8D5F3;text-align: center;line-height: 50px;margin-right: 50px;background-color: #fff;text-decoration: none;color:#666464;transition: 0.5s;font-size: 20px;}
.reservation:hover{color:white;background-color: #A8D5F3;transition: 0.5s;font-weight: bold;}
.facebook{margin-right: 20px;}
.line{margin-right: 70px;}

nav{position: fixed;width: 100%;top: 100px;background-color: #fff;}
nav ul{display: flex;justify-content: center;}
nav ul li{width: 100px;height: 80px;list-style: none;text-align:center;line-height: 80px;font-size: 20px;}
nav ul li a{color:#666464;text-decoration: none;}
nav ul li a:hover{color:#A8D5F3;}


main{width: 1100px;height: 1000px;background-color: rgb(211, 99, 99);margin: 180px auto 0 auto;}
.TOTOP{position: fixed;bottom: 0;right: 0;}
footer{width: 100%;height: 200px;background-color: rgb(0, 0, 0);color: white;}












