.b0{width: 500px;height: 500px;border: 1px solid;display: flex;}
.b1{width: 100px;height: 100px;background-color: rgb(189, 42, 42);flex:  500px}
.b2{width: 100px;height: 100px;background-color: rgb(213, 245, 96);flex: }
.b3{width: 100px;height: 100px;background-color: rgb(96, 223, 245);flex: }
.b4{width: 100px;height: 100px;background-color: rgb(136, 96, 245);flex: }
.b5{width: 100px;height: 100px;background-color: rgb(245, 96, 200);flex: }
.b6{width: 100px;height: 100px;background-color: rgb(19, 245, 121);flex: }










